body { 
	/*background: url(https://www.zastavki.com/pictures/originals/2015/Anime_Anime_girl_Quintin__white_background_099985_.png);
	background-size: cover;*/
	background-color: #f0f0f0;
	height: 100%;
 }

a:hover { color: red }
a:link { text-decoration: none }

.navbar {
	background-color: #343a40 !important;
}

.link:link {
    text-decoration: none;
    letter-spacing: 10px;
    margin-right: 17%;
    margin-left: 1%;
}

.link:hover {
	color: red;
}

#header { transition: 2s all; }
#header:hover { transform: rotate(720deg); }
.rating { color: #fffff3; }
.rating:hover { color: red; }

.search { margin-top: 5%; }

h2 { color: red; }

.films-block img {
	margin-bottom: 5%;
	border-radius: 5px;
	border: solid 5px #0d0c0a;
	width: 100%;
	height: 100%;
}

/*.show { height: 500px; }*/
#card-header { 
	height: 500px;
	padding: none;
 }

.card { background-color: #3e444a }

.card-header {
	background-color: #343a40;
	color: #fffff3;
	font-weight: bold;
	letter-spacing: 2px;
	width: 100%;
}

.card-body {
	background-color: #3e444a;
}

.card-body a {
	color: #fffff3;
}

.card-body li {
	border: none;
	background-color: #3e444a;
}

.card-body a:hover {
	color: red;
}

.card-body span {
	color: #fffff3;
	font-size: 1em;
}

thead {
	background-color: #343a40;
	color: #fffff3;
	font-weight: bold;
	letter-spacing: 2px;
}

td a {	color: #fffff3; }
p { color: #fffff3;  }
label { color: #fffff3;  }
li { color: #fffff3;  }
th>a {  color: #fffff3; }

.alert li { color: black }

.like { color: red !important; }

.submit:hover {
	color: red;
 }